/* # File: src/components/Techstack.css */


.tech {
  /* padding: 32px; */
  padding-top: 100px;
  background: #ffffff15;
}

.tech h1 {
  margin-bottom: 50px;
  font-size: 75px;
}

.tech__item {
  /* display: flex;
  flex: 1 1 300px; */
  margin: 0 2rem 0rem 3rem;
  /* border-radius: 10px;
  max-width: 400px; */
}

.tech__item__link {
  display: flex;
  flex-flow: row;
  width: 90%;
  margin-left: 0px;
  height: 12rem;
  box-shadow: 0 6px 20px rgba(56, 126, 255, 0.333);
  border-radius: 10px;
  background-color: #97a3bf86;
  align-items: center;
  padding-left: 10%;

  /* text-decoration: none; */
  /* overflow: hidden; */
  transition: transform 0.3s ease;
}

.tech__item__link:hover {
  transform: scale(1.05);
  /* Added a subtle hover effect */
}

.tech__item__pic-wrap {
  position: relative;
  width: 100%;
}

.tech__item__pic-wrap::after {

  content: attr(data-category);
  position: absolute;

  /* Switched to rem unit and positioned with left/right for robustness */
  bottom: -3.1rem;
  left: -1.4rem;
  right: 0rem;
  padding: 6px 8px;
  font-size: 1rem;


  /* Used rem for scalable font size */
  font-weight: 700;
  color: #ffffff;
  background-color: #1f31678a;
  box-sizing: border-box;
  text-align: center;
  border-radius: 4px;
  /* Added a slight border-radius */
}

/* .tech__item__info {
  padding: 10px 20px 100000000px 10px;
} */

/* Adjusting the Swiper container to create space */
.mySwiper {
  width: 100%;
  height: 350px;
  /* margin: 0 auto; */

  /* position: relative; */
  /* Important for positioning context */
  /* --- DEBUGGING STYLES --- */
  /* border: 3px solid limegreen; */
  /* Added for debugging */
}


.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}


.mySwiper .swiper-button-next,
.mySwiper .swiper-button-prev {
  --swiper-navigation-color: #bdc3d2de;
  /* Use a color from your existing palette */
}

.mySwiper .swiper-button-prev {
  left: 0px;
  top: 120px;
  /* Changed from -50px */
}

.mySwiper .swiper-button-next {
  right: 0px;
  top: 120px;

  /* Changed from -50px */
}

/* .tech__item__label {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff; 
  background-color: #405595; 
  padding: 6px 8px;
  border-radius: 4px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
} */