:root {
  --font-size-medium: 18px;
  
  --color-white: #000000d6;
  
  /* --color-background: #919db9; */
  --color-text: #252e48;
  --color-overlay: #405595;
  --color-shadow: rgba(56, 126, 255, 0.82);
  --color-shadow-light: rgba(56, 125, 255, 0.017);
  --border-radius: 10px;
  --box-shadow: 0 6px 20px var(--color-shadow);
  --box-shadow-light: drop-shadow(0 6px 20px var(--color-shadow-light));
}


.Demo_Wrapper
{
  padding-bottom: 2rem;
}


.Demo_Wrapper h1
{
  color: #ffffff ;
  text-align: center;

  font-size:3rem;
  padding-top:1rem;
  padding-bottom:2rem;
  
}

.Demo 
{
  display:flex;
  width:100vw;
  text-align: center;
  padding-top:3rem;
  background-color: #222a38d9;

  flex-direction: column;
  text-align:center;
  align-items: center;
  justify-content: center;

  
  background-image: 
    linear-gradient(to bottom, #28364ee8, #334155 60%, #475569),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100"><filter id="n"><feTurbulence type="fractalNoise" baseFrequency="0.8" numOctaves="3" stitchTiles="stitch"/><feColorMatrix type="saturate" values="0"/></filter><rect width="100" height="100" filter="url(#n)" opacity="0.06"/></svg>');
  background-blend-mode: overlay;

  
}

/* .Demo__container {
  display: flex;
  flex-direction: column;
  text-align:center;
  width: 100%;
} */

.Demo__item
{
  list-style-type:none;
}


.Demo__item__link {
  display: flex;
  flex-flow: row;
  width:50%;
  height:50%;
  min-height:300px;
  min-width: 350px;
  box-shadow: var(--box-shadow);
  -webkit-filter: var(--box-shadow-light);
  filter: var(--box-shadow-light);
  border-radius: var(--border-radius);
  overflow: hidden;
  text-decoration: none;
}


.Demo__item__img 
{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height:300px;

  object-fit: cover;
  transition: all 0.2s linear;
}


.Demo__item__img:hover {
  transform: scale(1.1);
}

.Second_Demo_Container
{
  display: flex;
  width: 100%;
  margin-left:4.7cm;
  /* margin-right:1cm; */


  /* position: relative; */
  /* overflow: hidden; */


  /* flex-direction: column; */
  /* text-align:center; */
}

.Second_Demo__item__img
{
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: -2.4cm;
  width: 100%;
  height: 100%;
  /* max-height:30px; */

  /* object-fit: cover; */
  transition: all 0.2s linear;

}

.EncryptedPhoto
{
  right:0;
  left:0cm;
  top:0cm;
  position: relative;
  width: 100%;
  height: 100%;
}

.Demo__item__text
{
  /* padding-top:4rem; */

  /* height:50vh; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom:2cm;

  color: #fffffff2;
  font-size: clamp(20px, 2vw, 34px);

  /* background-color: antiquewhite; */

}


.Demo__item__content {
  display: flex;
  align-items: center;
  margin-left: 2cm;
  margin-right: 2cm;
  gap: 1rem;
  /* padding-left: 1.5cm; */
  /* background-color: #ffffff; */

}

.Demo__item__With__Icons
{
  /* background-color: antiquewhite; */
  padding-bottom:3cm;
  
}

.Icons__Container
{
  margin-left:-0.9cm;
}
/* Align text and icon side-by-side */
.Demo__item.align-left .Demo__item__content {
  flex-direction: row;
  text-align: left;
}

.Demo__item.align-right .Demo__item__content {
  flex-direction: row-reverse;
  text-align: left;
}

/* Stack vertically on smaller screens */
/* @media (max-width: 650px)  */
@media (max-width: 818px)  
{
  .Icons__Container
  {
    margin-left:-0.2cm;
  }

  .Demo__item__link 
  {
    justify-content: center; 
    margin-left: auto;
    margin-right: auto;
  }

  .Demo_Wrapper h1
  {
    color: #ffffffeb;

    text-align: center;

    font-size:3rem;
    padding-top:1rem;
    padding-bottom:1rem;

    /* padding-left: 0cm !important; */
    /* padding-right: 0cm !important; */
  }


  .Demo__item__img
  {
    max-height:300px;

  }
  .Demo__item__With__Icons
  {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;


    justify-content: center; /* centers horizontally */
    align-items: center;     /* centers vertically */
    /* optionally, set width and height to control the area */
    width: 100%;
    height: 100%;
    
  }
  .Demo__item__content {
    /* display: block; */
    /* flex-direction: column; */
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    /* text-align: center !important; */
  }

  .Demo__item__pic-wrap
  {
    display:flex;
    /* display: block; */

  }
  .Demo__item__text {
    /* padding-top: 5rem; */
    margin-top: -3rem;
    /* background-color: antiquewhite; */

  }
  /* .Demo .tech-icons-container .tech__item__pic-wrap::after
  {
    left: -17%;
    width: 135%;
  } */


  /* .Icons__Container
  { */
    /* margin-bottom: -1.5cm; */
    /* background-color: #ffffff; */
  /* } */
}



/* ---------------------------------------------------- */

/* .fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
} */

/* @media only screen and (min-width: 1200px) 
{

}

@media only screen and (min-width: 1024px) 
{

}

@media only screen and (max-width: 1024px) 
{

} */

/* .Demo__item__info 
{
  padding: 20px 30px 30px;
} */

/* .Demo__item__text 
{
  color: var(--color-text);
  font-size: var(--font-size-medium);
  line-height: 24px;
} */

/* .quote,
h1,
h2 
{
  text-align: center;
  font-size: var(--font-size-large);
} */

/* .quote {
  padding-bottom: var(--padding-medium);
}

h2 
{
  padding-block: var(--padding-small);
  padding-bottom: var(--padding-medium);
} */

/* .Demo__wrapper 
{
  display: flex;
  position: relative;
  margin: 50px 0 45px;
} */

/* .Demo__item 
{
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: var(--border-radius);
} */
