.FormtoSend video {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.FormtoSend {
  position: relative; /* Make container relative for absolute positioning inside */
  height: 115vh;
  width: 100vw;
  overflow: hidden; /* Hide any overflow */
  background-color: rgba(0, 0, 0, 0.571);
  border-radius: 12px;
  /* Rounded corners for softness */
  box-shadow: 0 4px 12px rgba(65, 63, 63, 0.774);
  /* Subtle shadow for depth */
}

.InnerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.5rem;
}

.MessageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.FormtoSend h2 {
  margin-top: 2rem;

  font-family: "Times New Roman", Times, serif;
  font-size: 450%;
  padding-bottom: 1rem;
  color: #d1cbcb;
}

.FormtoSend h3 {
  /* color: aliceblue; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  padding-bottom: 1rem;
  /* padding-top: 1rem; */
  color: #d1cbcb;
}

.Bubble {
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 200cm;
  outline: none;
  border: none;
  background-color: rgb(239, 239, 226);
}

.Rectangletxtbox {
  font-size: 20px;
  padding: 12px;
  width: 50vw;
  height: 35vh;
  outline: none;
  border: none;
  background-color: rgb(239, 239, 226);
}

.input::placeholder {
  font-family: initial;

}

.textarea::placeholder {
  font-family: "Times New Roman", Times, serif;

}
.Centering-Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.successMessage{

  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;    /* vertical center */
  height: 115vh;          /* full viewport height */
  text-align: center;     /* center text inside */
  font-size: 1.0rem;      /* optional font size */
  background-color: rgba(255, 255, 255, 0.107);
}
.successMessage h2
{
    color:rgb(227, 236, 243);
}

@media screen and (min-width: 535px) 
{
}

@media screen and (max-width: 535px) 
{
}

/* -------------------------------------------------------- */

/* border: 0.01cm solid  rgb(147, 176, 202); */
/* .Move-LeftTxtbox
{   
    padding-top:5%;
    padding-left:10%;
    height: 3cm;
    width: 50vw;
}
.Move-Name
{
    padding-left:10%;
    height: 2.5cm;
}
.Move-Email
{
    padding-left:10%;
    height: 2.5cm;
}
.Move-Message
{
    padding-left:10%;
    height: 9.5cm;
    width: 50vw;
} */
